	<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>DS API Admin Panel</title>

	<!-- Bootstrap core CSS -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/adm.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<!-- link href="dashboard.css" rel="stylesheet" -->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
	<div class="container-fluid">
	    <div class="row">
		<div class="container-fluid">
			<div class="main">
				<ul id="tabs-options" class="nav nav-tabs" role="tablist">
					<li class="active">
						<a href="#query" role="tab" data-toggle="tab">Query/Key</a>
					</li>	
					<li>
						<a href="#insert" role="tab" data-toggle="tab">Insert</a>
					</li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane active" id="query">
						
						<div class="panel-group query-panel">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#expandirItem1">Query</a>
									</h4>
								</div>
								<div id="expandirItem1" class="panel-collapse in" style="">
									<div class="panel-body">
										<form role="form">
											<div class="form-group">
												<textarea class="query-text form-control" rows="4" placeholder="new ds.Query('Kind').eq('field', 5)"></textarea>
											</div>
											<button type="button" class="btn btn-primary btn-sm execute-query">Go</button>
										</form>
									</div>
									<div class="messages"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#expandirItem2" class="collapsed">Results</a>
									</h4>
								</div>
								<div id="expandirItem2" class="panel-collapse in">
									<div class="panel-body">
										<div class="query-result">
											<h1 class="sub-header"></h1>
											<span class="no-results">No results yet!</span>
											<div class="table-responsive">
												<table class="table table-striped">
													<thead>
														<tr></tr>
													</thead>
													<tbody></tbody>
												</table>
												<button type="button" class="btn btn-primary next-page">Next</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="insert">
						
						<div class="panel-group">
							<div class="panel panel-default" id="panel-insert">

								<div class="left">
									<h3>Insert entity</h3>
								
									<div class="input-group kind">
									  <span class="input-group-addon">kind</span>
									  <input type="text" class="form-control field-kind" placeholder="entity kind">
									</div>

									<div class="select-types">
										<h4>type</h4>
										<select id="fields-types">
											<option data-type="0">string</option>
											<option data-type="1">date</option>
											<option data-type="2">key</option>
											<option data-type="3">list</option>
										</select>
									</div>

									<div class="input-group" id="list-fields">
									  <span class="input-group-addon">></span>
									  <input type="text" class="form-control field-name entity" placeholder="field name">
									</div>

									<div class="input-group" id="item-kind">
									  <span class="input-group-addon">></span>
									  <input type="text" class="form-control field-kind entity	" placeholder="kind">
									</div>
									
									<div class="input-group">
									  <span class="input-group-addon">></span>
									  <input type="text" class="form-control field-value entity	" placeholder="value">
									</div>

									
									<h4 id="add-field"><span class="label label-default">new field&nbsp<span class="glyphicon glyphicon-plus"></span></span></h4>
								</div>

								<div class="right">
									<h3 id="title-kind-entity">Kind Entity</h3>
									
									<nav id="created-fields" class="navbar navbar-default" role="navigation">
									</nav>
								</div>
								

								<div class="panel-save-entity">
									<h3 id="saveEntity"><span class="label label-primary">save</span></h3>
								</div>
							</div>

						</div>

					</div>
				</div>
		
			</div>
		</div>
		</div>
	</div>
	  	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script data-main="js/adm.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.js"></script>
		<script	src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script>
			require.config({
				"paths" : {
					'jquery' : '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min',
					'ds-js' : '/public/api/ds-js',
					'adm' : '/public/js/adm',
					'insert' : '/public/api/insert'
				}
			});	

			$(document).ready(function(){
				$('#tabs-options a:last').click(function (e) {
				  e.preventDefault();
				  $(this).tab('show');
				});

				$('#item-kind').hide();
				$('.dropdown-toggle').dropdown();
			})

			require(['adm', 'ds-js', 'insert'], function(adm, ds, insert) {
				window.ds = ds;
				adm.init('.query-panel');
				insert.init();
			});
		</script>
	</body>
	</html>
