.main {
	margin-top: 70px;
}

#panel-insert  {
	min-height: 140px;
	padding: 10px;
}

.input-group {
	max-width: 400px;
	margin-top: 15px;
}

.input-group.kind {
	margin-bottom: 60px;
}

.dropdown {
	margin-top: 15px;
}

.left, .right { 
	display: inline-block;
	min-height: 135px;
	padding: 5px;
	vertical-align: top;
	margin-right: 30px;
}

.navbar-text {
	font-size: 12pt;
}

#created-fields {
	display: none;
}

#saveEntity {
	cursor: pointer;
}

.panel-save-entity {
	margin-top: 80px;
}

#fields-types {
	border-radius: 5px;
}

.navbar-brand, .navbar-text {
	font-size: 12pt;
}

.navbar-text.type {
	color: rgba(119, 119, 119, 0.24) !important;
}
